<ion-header [translucent]="true">
</ion-header>

<ion-content color="secondary">

  <ion-img src="assets/logo.png"></ion-img>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="bienvenida" color="primary" mode="ios">Bienvenido a Z-Help</ion-card-title>
      <ion-card-subtitle class="bienvenida" color="medium">Por favor llena las siguientes casillas</ion-card-subtitle>
    </ion-card-header>


    <ion-card-content>
      <form [formGroup]="myForm" (ngSubmit)="register()">
        <ion-item color="casilla" class="casilla form-group">
          <ion-label position="floating" color="texto">Número de celular</ion-label>
          <ion-input type="text" formControlName="telefono" color="texto"></ion-input>
        </ion-item>
        <ion-item color="casilla" class="casilla form-group">
          <ion-label position="floating" color="texto">Contraseña</ion-label>
          <ion-input type="password" color="texto" formControlName="password"></ion-input>
        </ion-item>
        <ion-item color="casilla" class="casilla form-group">
          <ion-label position="floating" color="texto">Confirmar contraseña</ion-label>
          <ion-input type="password" color="texto" formControlName="passwordRepeat"></ion-input>
        </ion-item>

        <ion-item color="casilla">
          <ion-text color="texto" class="ion-text-wrap">
            He leído y acepto los <a (click)="abrirTerminosYCondiciones()">Términos y condiciones</a>
          </ion-text>
          <ion-checkbox slot="end" formControlName="checkbox">
          </ion-checkbox>
        </ion-item>
        <br>

        <ion-button role="button" expand="block" [disabled]="myForm.invalid" type="submit">Continuar</ion-button>
        <ion-button expand="block" fill="clear" href="/not-logged">
          Volver
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>