.bienvenida{
    text-align: center;
    color: rgb(0, 149, 255);
}

.card {
    //align-items: center;
    //background-color: rgb(255, 255, 255);
    border-radius: 40px;
}

.casilla {
    align-items: center;
    border: 2px solid #1e31ff;
    border-radius: 40px;
    margin: 8px auto 5px auto;
}