<ion-card class="card">
  <ion-card-header>
    <ion-card-title class="bienvenida" mode="ios">Edita tu Nombre</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form (ngSubmit)="guardarNombre()">
      <ion-item class="casilla">
        <ion-label position="floating">Nombre completo</ion-label>
        <ion-input [(ngModel)]="nombre" name="nombre"></ion-input>
      </ion-item>
      <br>
      <ion-button expand="block" shape="round" type="submit">
        GUARDAR
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>