<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="z-help/foro" text="Regresar" mode="ios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-card class="card">
    
    <ion-grid fixed>

      <ion-row>
        <ion-col size="2">
          <ion-avatar mode="ios">
            <img src="/assets/yo2.png" />
          </ion-avatar>
        </ion-col>

        <ion-col size="10">
          <ion-card-header class="pad-top-name">
            <ion-card-title>Jose Praxedes Dominguez Acosta</ion-card-title>
            
          </ion-card-header>
        </ion-col>

      </ion-row>
    </ion-grid>
      
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-button size="large" fill="clear" color="medium">
                <ion-icon name="images-outline" ></ion-icon>
              </ion-button>
              <ion-button size="large" fill="clear" color="medium">
                <ion-icon name="location-outline"></ion-icon>
              </ion-button>
              <ion-button slot="end" size="large" fill="clear" color="primary" class="ion-no-padding" href="z-help/foro">
                <ion-icon name="send"></ion-icon>
              </ion-button>
              
            </ion-item>
            <ion-item class="ion-align-items-center">
              <ion-textarea [counter]="true" [maxlength]="700" [autoGrow]="true" label="¿Qué quieres decir?" label-placement="floating" fill="solid" placeholder="Escríbelo...."></ion-textarea>
            </ion-item>
          </ion-list>
        </ion-card-content>
      

    
  </ion-card>
</ion-content>


