.card {
    //align-items: center;
    //background-color: rgb(255, 255, 255);
    border-radius: 40px;
}

.bienvenida{
    text-align: center;
}

ion-avatar { 
    width: 60px;  
    height: 60px;  
    margin: 5%;
    
}

.pad-top-name{
    padding-top: 3%;
}
