.bienvenida{
    text-align: center;
}

.card {
    //align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
}

.casilla {
    align-items: center;
    border: 2px solid #1e31ff;
    border-radius: 40px;
    margin: 8px auto 5px auto;
}

ion-img::part(image) {
    width: 40%; 
    margin: 8px auto 5px auto;
}