<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios" color="primary">Tu ubicacion:</ion-title>

    <ion-buttons slot="start">
      <ion-avatar mode="ios">
        <img src="/assets/yo2.png" />
      </ion-avatar>
    </ion-buttons>

    <ion-icon name="locate-sharp" slot="end" color="primary" size="large" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-icon name="compass-outline" size="large"></ion-icon>
  </ion-fab>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="mostrarMenu()" size="large">
      <ion-icon name="menu-sharp" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="large">
      <ion-icon name="share-social-outline" size="large"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="timer" size="large"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="location-sharp" size="large"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="center" [edge]="true">
    <ion-fab-button color="danger" size="large">
      <ion-icon name="radio-sharp" size="large"></ion-icon>
      <!--<ion-icon name="megaphone-sharp" size="large"></ion-icon>-->
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
  
        <ion-tab-button tab="inicio">
          <ion-icon name="home" size="large"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="reportes">
          <ion-icon name="receipt" size="large"></ion-icon>
          <ion-label>Reportes</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="">
          
          <ion-label></ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="contactos">
          <ion-icon name="people" size="large"></ion-icon>
          <ion-label>Contactos</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="actividad">
          <ion-icon name="pulse-outline" size="large"></ion-icon>
          <ion-label>Actividad</ion-label>
        </ion-tab-button>
  
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
