<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title mode="ios">Tu ubicacion:</ion-title>

    <ion-buttons slot="start">
      <ion-button href="perfil" fill="clear" class="head-perfil">
        <ion-avatar mode="ios">
          <img src="/assets/yo2.png" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>

  
  </ion-toolbar>
</ion-header>

<ion-content >

  <div class="mapa">
    <capacitor-google-map #map></capacitor-google-map>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button class="refresh-button" href="z-help/inicio" size="large" color="primary">
      <ion-icon name="refresh-outline" size="large"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="mylocation()" size="large" color="secondary">
      <ion-icon name="locate-sharp" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button size="large" color="warning">
      <ion-icon name="warning-outline" size="large"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="end">
      <ion-fab-button (click)="BotonREP()" color="primary" color="warning" class="rep-zona">
        Reportar Zona
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="large" color="secondary">
      <ion-icon name="share-social-outline" size="large"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button (click)="compartirTiempoReal()" color="primary">
        <ion-icon name="timer" size="large"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="compartirLocation()" color="primary">
        <ion-icon name="location-sharp" size="large"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  

</ion-content>




