.pad-menu {
    padding-top: 4%;
}

.alarma {
    width: 75px;
    height: 75px;
    margin-left: unset;
    margin-inline-start: -14px !important;
    margin-bottom: 12px;
 }
 .icono-alarma {
    width: 60px;
    height: 60px;
    
 }
 
.ion-color-favorite {
    --ion-color-base: #3880ff;
    --ion-color-base-rgb: 56, 128, 255;
    --ion-color-contrast: #fffefe;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: #3171e0;
    --ion-color-tint: #4c8dff;
}
