ion-img::part(image) {
    width: 65%; 
    margin: 8px auto 5px auto;
}
.bienvenida{
    text-align: center;
    color: rgb(0, 149, 255);
    margin: 8px auto 5px auto;
    padding: 10%;
}

.bg-text {
    text-align: center;
    //font-weight: 400;
font-size: 20px;
line-height: 27px;
}
.head-perfil {
    margin-left: -10%;
    width: 70px;
    height: auto;
}