<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title mode="ios">Contactos</ion-title>

    <ion-buttons slot="start">
      <ion-button href="perfil" fill="clear" class="head-perfil">
        <ion-avatar mode="ios">
          <img src="/assets/yo2.png" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-icon name="people-outline" class="icono" color="dark"></ion-icon>
<br>
  <ion-list>
    <ion-list-header>
      <ion-label color="primary"> <h1>Contactos registrados:</h1></ion-label>
      <ion-note color="primary" class="ion-padding-horizontal"> <h2>3/3</h2></ion-note>
    </ion-list-header>
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option color="light">
          <ion-icon color="primary" name="call-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  
      <ion-item>
        <ion-label>Roberto</ion-label>
        <ion-note slot="end">55-5546-8586</ion-note>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="light">
          <ion-icon color="success" name="create-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
        <ion-item-option color="light">
          <ion-icon color="danger" name="close-circle-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option color="light">
          <ion-icon color="primary" name="call-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  
      <ion-item>
        <ion-label>Bryan</ion-label>
        <ion-note slot="end">55-5585-1565</ion-note>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="light">
          <ion-icon color="success" name="create-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
        <ion-item-option color="light">
          <ion-icon color="danger" name="close-circle-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option color="light">
          <ion-icon color="primary" name="call-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  
      <ion-item>
        <ion-label>Miguel</ion-label>
        <ion-note slot="end">55-7894-1212</ion-note>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="light">
          <ion-icon color="success" name="create-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
        <ion-item-option color="light">
          <ion-icon color="danger" name="close-circle-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="large" color="secondary" href="contacts/add">
      <ion-icon name="person-add-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>



