<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title mode="ios">Contactos</ion-title>

    <ion-buttons slot="start">
      <ion-avatar mode="ios">
        <img src="/assets/yo2.png" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text class="bienvenida">
    <h1>Contactos de confianza</h1>
  </ion-text>

  <ion-img src="assets/contactos.png"></ion-img>

  <ion-text class="bg-text">
    <p class="ion-padding">Agrega tus contactos de confianza, entre todos nos cuidamos.</p>
  </ion-text>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="large" color="secondary">
      <ion-icon name="person-add-outline" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>



