
.bienvenida{
    text-align: center;
    color: rgb(0, 149, 255);
    //margin: 110px auto 110px auto;
    //padding-bottom: 1%;
}

.bg-text {
    text-align: center;
    //font-weight: 400;
font-size: 20px;
line-height: 27px;
}
.head-perfil {
    margin-left: -10%;
    width: 70px;
    height: auto;
}

.icono {
    width: 100px;
    height: 100px;
    //background-color: rgb(255, 255, 255);
    border-radius: 65px;
    margin: 25px auto 2px auto;
    border: 8px solid #3880ff;
    display: flex;
 }