<ion-header [translucent]="true">
</ion-header>

<ion-content color="secondary">
  <ion-img src="assets/logo.png"></ion-img>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="bienvenida" mode="ios">¡Hola! Que bueno tenerte de vuelta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item color="casilla" class="casilla">
          <ion-label position="floating" color="texto">Nombre</ion-label>
          <ion-input formControlName="nombre" color="texto"></ion-input>
        </ion-item>
        <ion-item color="casilla" class="casilla">
          <ion-label position="floating" color="texto" >Contraseña</ion-label>
          <ion-input formControlName="password" type="password" color="texto"></ion-input>
        </ion-item>
        <ion-label slot="end"><a href="login/numero">¿Contraseña olvidada?</a></ion-label>
      </form>
      <br>
      <ion-button expand="block" shape="round" href="z-help">
        Iniciar Sesión
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-text class="regis-text">
    ¿Aun no estás registrado? <a href="registro">REGISTRATE</a>
  </ion-text>
</ion-content>
