<ion-app>
  <ion-menu  swipeGesture="false" side="end" menuId="MENU" contentId="main">
    <ion-header >
      <ion-toolbar color="primary" class="ion-padding-vertical">
        <ion-buttons slot="start" >
          <ion-button fill="clear" shape="circle" (click)="perfil()">
            <ion-avatar>
              <img src="./assets/perfil.jpg" />
            </ion-avatar>
          </ion-button>
        </ion-buttons>
        <ion-label class="ion-padding-horizontal" *ngIf="user$ | async as user">{{user.nombre}}</ion-label>
        <ion-button fill="clear" slot="end" type="button" (click)="onLogout()">
          <ion-icon type="button" name="exit-outline" size="large" color="danger"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content >
      <ion-list class="fondo-list">
        <ion-item (click)="Ayuda()" class="opciones" detail>
          <ion-icon slot="start" name="help-circle-outline" size="large" color="dark"></ion-icon>
          <ion-text color="dark" slot="start">
          ¿Necesitas ayuda?
          </ion-text>
        </ion-item>

        <ion-item (click)="PruebaBotonSOS()" class="opciones" detail>
          <ion-icon slot="start" name="megaphone-sharp" color="dark"></ion-icon>
          <ion-text color="dark" slot="start">
            Prueba S.O.S
          </ion-text>
        </ion-item>

        <ion-item (click)="abrirTerminosYCondiciones()" class="opciones" detail>
          <ion-icon slot="start" name="document-text" color="dark"></ion-icon>
          <ion-text color="dark" slot="start">
            Términos y condiciones
          </ion-text>
        </ion-item>

        <ion-item (click)="presentPopover()" class="opciones" detail>
          <ion-icon slot="start" name="call" color="dark"></ion-icon>
          <ion-text color="dark" slot="start">
            Telefonos de emergencia
          </ion-text>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
