<ion-card class="card">
  <ion-card-header>
    <ion-card-title class="bienvenida" mode="ios">¡Hola! Que bueno tenerte de vuelta</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form role="form" [formGroup]="myForm" (ngSubmit)="login()">
      <ion-item class="casilla">
        <ion-label position="floating">Numero telefonico</ion-label>
        <ion-input formControlName="telefono" type="text"></ion-input>
      </ion-item>
      <ion-item class="casilla">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-label slot="end"><a>¿Contraseña olvidada?</a></ion-label>
      <br>
      <ion-button expand="block" shape="round" href="z-help" [disabled]="myForm.invalid" type="submit">
        Iniciar Sesión
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>