<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title mode="ios">Actividad</ion-title>

    <ion-buttons slot="start">
      <ion-button href="perfil" fill="clear" class="head-perfil">
        <ion-avatar mode="ios">
          <img src="/assets/yo2.png" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <br>
  <ion-segment value="actividad">
    <ion-segment-button value="actividad">
      <ion-label>Actividad</ion-label>
    </ion-segment-button>
    <ion-segment-button value="actividad-cercana">
      <ion-label>Actividad cercana</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item detail routerLink="/z-help/actividad/sos">
      <ion-icon color="danger" name="radio-sharp" slot="start" size="large"></ion-icon>
      <ion-label>
        <h2>Boton S.O.S</h2>
        <p>Nueva Industrial Vallejo, 07700 Ciudad de México, CDMX</p>
      </ion-label>
      <ion-label slot="end">
        20/05/2023
      </ion-label>
    </ion-item>

    <ion-item detail routerLink="/z-help/actividad/zone" >
      <ion-icon color="warning" name="warning-outline" slot="start" size="large"></ion-icon>
      <ion-label>
        <h2>Actualización de zona de riesgo </h2>
        <p>Av Instituto Politécnico Nacional, Nueva Industrial Vallejo, Gustavo A. Madero, 07738 Ciudad de México, CDMX</p>
      </ion-label>
      <ion-label slot="end">
        20/05/2023
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
