<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title mode="ios">Actividad</ion-title>

    <ion-buttons slot="start">
      <ion-button href="perfil" fill="clear" class="head-perfil">
        <ion-avatar mode="ios">
          <img src="/assets/yo2.png" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <br>
  <ion-segment value="actividad">
    <ion-segment-button value="actividad">
      <ion-label>Actividad</ion-label>
    </ion-segment-button>
    <ion-segment-button value="actividad-cercana">
      <ion-label>Actividad cercana</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Desliza para actualizar"
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item detail (click)="navigateToDetail(push)" *ngFor="let push of mensajes">
      <ion-icon color="{{push.notification.additionalData.coloricon}}" name="{{push.notification.additionalData.icon}}"  slot="start" size="large"></ion-icon>
      <ion-label>
        <h2>{{ push.notification.title }}</h2>
        <p>{{ push.notification.body }}</p>
      </ion-label>
      <ion-label slot="end">
        {{ push.notification.date | date: 'dd/MM/yyyy'}}
        
      </ion-label>
    </ion-item>
      <!--
      <ion-icon color="warning" name="warning-outline" slot="start" size="large"></ion-icon>
      <ion-icon color="warning" name="warning-outline" slot="start" size="large"></ion-icon>
      -->

    
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="borrarMensajes()" color="danger" size="large">
      <ion-icon name="trash" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
