<ion-header [translucent]="true">
</ion-header>

<ion-content color="secondary">
  
  <ion-img src="assets/logo.png"></ion-img>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="bienvenida" color="primary" mode="ios">Bienvenido</ion-card-title>
      <ion-card-subtitle class="bienvenida" color="medium">Por favor ingresa los siguientes datos</ion-card-subtitle>
    </ion-card-header>


    <ion-card-content>
      <!--<form [formGroup]="formularioNewPass">-->
        <form>
        <ion-item color="dark" class="casilla">
          <ion-label position="floating">Escuela</ion-label>
          <ion-input type="password" ></ion-input>
          <!--<ion-input formControlName="password" type="password" ></ion-input>-->
        </ion-item>
        <ion-item color="dark" class="casilla">
          <ion-label position="floating">Numero de empleado</ion-label>
          <ion-input type="password"></ion-input>
          <!--<ion-input formControlName="confirmacionPassword" type="password"></ion-input>-->
        </ion-item>
        <br>
        
      </form>
      <ion-button expand="block" shape="round" href="/registro/codigo/">
        Continuar
      </ion-button>
      <ion-button expand="block" shape="round" fill="clear" href="/registro">
        Volver
      </ion-button>
    </ion-card-content>
  </ion-card>


  
</ion-content>
