<ion-content>
  <ion-card class="card" mode="md">

    <ion-grid fixed>

      <ion-row >
        <ion-col size="2">
          <ion-avatar mode="ios">
            <img src="/assets/yo2.png" />
          </ion-avatar>
        </ion-col>

        <ion-col size="10">
          <ion-card-header class="pad-top-name">
            <ion-card-title>Jose Praxedes Dominguez Acosta</ion-card-title>
            
          </ion-card-header>
        </ion-col>

      </ion-row>
    </ion-grid>
      
        <ion-card-content class="pad-bajo">
          <ion-list >
            <ion-item>
              <ion-button  fill="clear" color="medium">
                <ion-icon name="images-outline" ></ion-icon>
              </ion-button>
              <ion-button  fill="clear" color="medium">
                <ion-icon name="location-outline"></ion-icon>
              </ion-button>
              <ion-toggle color="primary"> Anonimo </ion-toggle>
              <ion-button slot="end" size="large" fill="clear" color="primary" class="ion-no-padding send">
                <ion-icon name="send"></ion-icon>
              </ion-button>
              
            </ion-item>
            <ion-item class="ion-align-items-center">
              <ion-textarea [counter]="true" [maxlength]="700" [autoGrow]="true" label="¿Qué quieres decir?" label-placement="floating" fill="solid" placeholder="Escríbelo...."></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-datetime-button datetime="datetime"></ion-datetime-button>
            </ion-item>
          </ion-list>
        </ion-card-content>
  </ion-card>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime" mode="md"></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>
