.card {
    //align-items: center;
    //background-color: rgb(255, 255, 255);
    border-radius: 40px;
}

.bienvenida{
    text-align: center;
}

ion-avatar { 
    width: 100px;  
    height: 100px;  
    margin: auto;
}