<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/perfil"
        text="Regresar"
        mode="ios"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-text class="bienvenida">
    <h1>Editar mi perfil</h1>
  </ion-text>

  <ion-card class="card">
    <ion-card-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="1.5"> </ion-col>
          <ion-col size="9">
            <ion-avatar mode="ios" size="large">
              <img src="./assets/perfil.jpg" />
            </ion-avatar>
          </ion-col>

          <ion-col size="1.5"> </ion-col>
        </ion-row>
        <div *ngIf="datosUsuario">
          <form [formGroup]="myForm" (ngSubmit)="editar()">
            <ion-item class="casilla">
              <ion-label position="floating">Nombre:</ion-label>
              <br>
              <ion-input type="text" formControlName="nombre"></ion-input>
            </ion-item>
            <ion-item class="casilla">
              <ion-label position="floating">Correo electronico:</ion-label>
              <br>
              <ion-input type="text" formControlName="correo_electronico"></ion-input>
            </ion-item>
            <ion-item class="casilla">
              <ion-label position="floating">Escuela:</ion-label>
              <br>
              <ion-input type="text" formControlName="escuela"></ion-input>
            </ion-item>
            <ion-item class="casilla">
              <ion-label position="floating">Boleta:</ion-label>
              <br>
              <ion-input type="text" formControlName="boleta"></ion-input>
            </ion-item>
            <br>

            <ion-row>
              <ion-col size="2.5"> </ion-col>
              <ion-col>
                <ion-button type="submit">
                  <ion-text>
                    <h1>GUARDAR</h1>
                  </ion-text>
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </div>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
