.card {
    //align-items: center;
    //background-color: rgb(255, 255, 255);
    border-radius: 40px;
}

.mapa-item {
   //width: 400px;
   height: 300px;
    padding: 0;
    margin-right: -8%;
    display: flex;
}

.mapa {
    width: 100%;
    height: 300px;
}

.icono {
    width: 50px;
    height: 50px;
    margin-left: 0%;
 }