<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="z-help/actividad" text="Regresar" mode="ios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <br>
  <ion-card class="card">
    <ion-list>
    <ion-item>
      <ion-icon color="{{push.notification.additionalData.coloricon}}" name="{{push.notification.additionalData.icon}}" class="icono"></ion-icon>
      <ion-card-header>
        <ion-card-title>{{ push.notification?.title }}</ion-card-title>
      </ion-card-header>
    </ion-item>
    
    <ion-card-content>
      <ion-item>
        <ion-text>
          <p>{{ push.notification.body }}</p>
        </ion-text>
      </ion-item>
      <ion-item class="mapa-item">
        
          <capacitor-google-map class="mapa" #map></capacitor-google-map>
        
      </ion-item>
      <ion-item>
        <ion-label slot="start">{{ push.notification.date | date: 'HH:mm' }}</ion-label>
        <ion-label slot="end">{{ push.notification.date | date: 'dd/MM/yyyy'}}</ion-label>
      </ion-item>
    </ion-card-content>
    
  </ion-list>  
  </ion-card>
</ion-content>
