.pad-top-name{
    padding-top: 0%;
}
.head-perfil {
    margin-left: -10%;
    width: 70px;
    height: auto;
}

.grid-publi{
    height: 55px;
}
.send{
    margin-left: 2%;
    margin-right: 2%;
}

  .coment{
    margin-top: 0%;
  }
  