<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="z-help/contacts" text="Regresar" mode="ios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-icon name="people-outline" class="icono" color="dark"></ion-icon>
      
    
  
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="bienvenida" color="primary" mode="ios">Ingresa un contacto de confianza</ion-card-title>
      <ion-card-subtitle class="bienvenida" color="dark">Escribe el número de teléfono y el nombre con el que quieres guardar a tu contacto de confianza.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item class="casilla">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item class="casilla">
          <ion-label position="floating">Numero de telefono</ion-label>
          <ion-input></ion-input>
        </ion-item>
        
      </form>
      <br>
      <ion-button expand="block" shape="round" (click)="guardar()">
        Continuar
      </ion-button>
      <ion-button expand="block" shape="round" fill="clear" (click)="volver()">
        Volver
      </ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
